body {
    background-color: rgb(52, 0, 150);
    font-family: "Lato", sans-serif;
    color: white;
}

#title, #description {
    text-align: center;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#description {
    font-family: "Poppins", sans-serif;
}

#survey-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: rgb(9, 0, 41);
    font-size: 18px;
}

#survey-form label {
    align-self: flex-start;
    padding: 10px 50px;
}

#name, #email, #number, #dropdown, #most-like, #comments {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}

#comments {
    height: 150px;
}


#submit {
    margin: 1em 0;
    padding: .5em;
    width: 80%;
    background-color: #37af65;
    border-radius: .25em;
    font-size: 18px;
    color: white;
}