*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: "Poppins", Arial, sans-serif;
        background-color: #1c1c1c;
        color: white;
}

.key-calc{
        border-radius: 50%;
        border: 2px solid teal;
        font-weight: bold;
        padding: 12px;
        cursor: pointer;
        font-size: 1.5rem;
}

.key-calc:hover{
        border-radius: 50%;
        background-color: teal;
        font-weight: bold;
        padding: 12px;
}
