*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#main-doc {
    display: flex;
}

#navbar {
    position: relative;
    top: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

#navbar header {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

#navbar a {
    border-top: 1px solid black;
    padding: 20px 0;
    text-decoration: auto;
    font-weight: bold;
    color: teal;
}

#navbar a:hover {
    color: darkorange;
    text-decoration: underline;
}

#container {
    width: 70%;
    position: relative;
    top: 50px;
    padding: 20px 30px;
}

.main-section {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.main-section header {
    font-size: 22px;
    font-weight: 700;
}

.main-section code {
    display: block;
    margin: 10px 0;
    background-color: rgb(226, 226, 226);
    padding: 15px;
    width: 80%;
    border-radius: .5em;
}

.section-lists {
    margin: 20px 30px;
}


@media (max-width: 768px) {
  #main-doc {
    flex-direction: column;
  }
}