*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-img {
    width: 40%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
}

#header-img{
    max-width: 300px;
    height: auto;
}

#nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-items {
    text-transform: capitalize;
    list-style-type: none;
    font-weight: 500;
}

@media (max-width: 768px) {
    #header-img {
        display: none;
    }

  .nav-items {
    padding: 0;
  }
}

.nav-link {
    text-decoration: none;
    color: black;
}

.container {
    margin-top: 80px;
}

.container h1 {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin: 15px;
}

#submit  {
    font-weight: 900;
    display: inline-block;
    cursor: pointer;
    margin-top: 1em;
    background-color: #f1c40f;
    border: none;
    padding: .5em 2em;
    font-size: 14px;
    text-transform: uppercase;
}

#features {
    align-items: center;
    margin: 0 auto;
}

.grids {
    display: flex;
    margin-top: 10px;
}

.icon {
    width: 20vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon span {
    font-size: 3em;
    color: darkorange;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 120px;
    padding: 0 2em;
}

#howitworks {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#pricing {
    height: 350px;
    width: 75vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.card-heading {
    width: 100%;
    height: 20%;
    background-color: rgb(216, 216, 216);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;

}

.card-heading h3 {
    margin: 0 auto;
}

.card-price {
    font-weight: 800;
    font-size: 25px;
}
.card-desc {
    text-align: center;
    width: 40%;
    line-height: 30px;
}

.card-btn {
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 16px;
    background-color: #f1c40f;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #ffcf0d;
}

#footer {
    height: 15vh;
    width: 75vw;
    background-color: rgb(216, 216, 216);
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: center;
}

.impr-list {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.impr-list li {
    list-style-type: none;
    font-weight: 500;
}

.impr-list li a {
    text-decoration: none;
    color: black;
}

#footer p {
    padding: 0 15px;
}