* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15pt;
}
.container {
  width: 80vw;
  background: teal;
  margin: auto;
  text-align: center;
  position: relative;
  top: 100px;
  padding: 50px 0;
  border-radius: 10px;
}
.row {
  height: 100% width 80%;
}
.item {
  width: 120px;
  height: 200px;
  background-image: url(https://source.unsplash.com/random/400x300);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}
.layover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
  position: relative;
}

.layover > span {
  font-size: 45px;
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.item:hover > .layover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.item:hover > .layover > span {
  display: block;
  cursor: pointer;
}
.item:active > .layover > span {
  color: white;
}
