body {
    font-family: sans-serif;
}

#main {
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
}

#img-div {
    width: 90%;
    background-color: #fff;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life-list {
    width: 40%;
    text-align: left;
}

.life-list > ul > li {
    padding: 10px 0;
}

.external-info {
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0;
}