*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}


body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.container {
    min-height: 50vh;
    width: 80vh;
    border-radius: 10px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 40px;
}

#contatore {
    font-size: 200px;
    text-align: center;
}

.buttons {
    padding: 10px 0;
    display: flex;
}

.bottoni {
    padding: 10px 15px;
    min-width: 200px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
}

#next {
    background-color: yellow;
    color: #1a1a1a;
}

#previous {
    background-color: red;
}




