*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

#titolo {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    height: 10vh;
    border: 1px solid red;
}

#principale {
    text-align: center;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.cards {
    border: 2px dashed rgba(0, 0, 0, .9);
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
    cursor: pointer;
    position: relative;
}

.card-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.cards:hover {
    background-color: rgb(99, 0, 0);
}

.mySpan {
    font-size: 60px;
    color: whitesmoke;
    z-index: 12;
}

.mySpanBlack {
    color: black;
}