*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}


body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    font-weight: bold;
}

#h1-title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 70vw;
    height: 60vh;
    display: flex;
    align-items: center;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    border: 3px solid teal;
    border-radius: 10px;
}

.column {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dadi {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid teal;
}

.punti {
    width: 200px;
    height: 50px;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#messaggio {
    margin-top: 30px;
    text-align: center;
    font-size: 1.3rem;
    height: 30px;
}

.cont-btn {
    width: 70vw;
    margin-top: 30px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}

.buttons {
    width: 30%;
    height: 60px;
    font-weight: bold;
    border: 2px solid teal;
    background-color: teal;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.buttons:hover {
    transform: scale(110%);
}

#btn-reset {
    background-color: #1a1a1a;
    color: teal;
}